Culture Data Competition/data/ak_cltur_nd_mnuri_blog_kwrd_extrc_info_2020.csv

Culture Data Competition/data/ak_cltur_nd_mnuri_blog_kwrd_extrc_info_2021.csv

Culture Data Competition/data/ak_cltur_nd_mnuri_news_kwrd_extrc_info_2020.csv

Culture Data Competition/data/ak_cltur_nd_mnuri_news_kwrd_extrc_info_2021.csv